<!--<div class="konwfooter" title="请阅读参保内容中的所有附件" data-toggle="tooltip" data-placement="top">-->
    <!--本人已阅读<span :for="(index,item) in @items" :click="@clickItem(@item)" :attr="{id:@item.id}" data-toggle="tooltip"-->
               <!--data-placement="top" title="请阅读参保内容中的所有附件">-->
             <!--<a :attr="{href:@getUrl(@item.key)}"-->
                <!--style="color: #0083ca;text-decoration: underline"-->
                <!--target="_blank">{{@item.name}}</a>-->
             <!--<span :if="@index != (items.length - 1)&& @index != (items.length - 2)">、</span>-->
             <!--<span :if="@index == (items.length - 2)">和</span>-->
    <!--</span>-->
    <!--同意以上声明与授权，充分了解本产品的特点并清楚知晓购买本保险产品的风险，愿意承担相关风险。-->
<!--</div>-->
