<!--<div class="konwfooter">-->
    <!--本人已阅读<a :attr="{href:@getUrl('cbxz')}" style="color: #0083ca;text-decoration: underline"-->
            <!--target="_blank">投保须知</a>、-->
    <!--<a :attr="{href:@getUrl('bxtk')}" style="color: #0083ca;text-decoration: underline"-->
       <!--target="_blank">保险条款</a>、-->
    <!--<a :attr="{href:@getUrl('zrmc')}" style="color: #0083ca;text-decoration: underline"-->
       <!--target="_blank">责任免除、</a>-->
    <!--<a :attr="{href:@getUrl('smysq')}" style="color: #0083ca;text-decoration: underline"-->
       <!--target="_blank">《声明与授权》</a>和-->
    <!--<a :attr="{href:@getUrl('tss')}" style="color: #0083ca;text-decoration: underline"-->
       <!--target="_blank">《提示书》</a>同意以上声明与授权，充分了解本产品的特点并清楚知晓购买本保险产品的风险，愿意承担相关风险。-->
<!--</div>-->



