<div class="col-xs-12 col-sm-7 conter-right">
    <div class="col-xs-12 col-sm-12 center-top center-top-border">
        <div class="titleImg1 ">
            保险方案
        </div>
    </div>

    <!--<div class="inputBorder">-->
        <!--&lt;!&ndash;为谁投保&ndash;&gt;-->
        <!--<div class="col-xs-12 col-sm-12 center-right-list">-->
            <!--<div class="col-xs-4 col-sm-3 list-left">为谁投保:</div>-->
            <!--<div class="col-xs-8 col-sm-9 cleanSelectIcon">-->
                <!--<select id="relationship" class="input-xlarge mobile_select form-control form"-->
                        <!--ms-duplex='@order_to_premiul_trial_form_widget.form[0].relationship.value'>-->
                    <!--<option :for='(index,item) in @order_to_premiul_trial_form_widget.form[0].relationship.candidateArray'-->
                            <!--:attr="{value:@item.key}">-->
                        <!--{{@item.value| nullFilter}}-->
                    <!--</option>-->
                <!--</select>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-xs-12  div_line"></div>-->
        <!--&lt;!&ndash;出生日期&ndash;&gt;-->
        <!--<div class="col-xs-12 col-sm-12 center-right-list">-->
            <!--<div class="col-xs-4 col-sm-3 list-left" for="datetimepicker">出生日期:</div>-->
            <!--<div class="col-xs-8 col-sm-9 cleanSelectIcon" style="background: none">-->
                <!--<input type="text" id="datetimepicker"-->
                       <!--:attr="{startDate:@order_to_premiul_trial_form_widget.form[0].birthday.start,endDate:@order_to_premiul_trial_form_widget.form[0].birthday.end}"-->
                       <!--class="form-control background_white  withForIput datetimepicker form" placeholder=""-->
                       <!--:duplex="@order_to_premiul_trial_form_widget.form[0].birthday.value | nullFilter"-->
                       <!--readonly>-->


            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-xs-12  div_line"></div>-->
        <!--&lt;!&ndash;性别&ndash;&gt;-->
        <!--<div class="col-xs-12 col-sm-12 center-right-list">-->
            <!--<div class="col-xs-4 col-sm-3 list-left">性别:</div>-->
            <!--<div class="col-xs-8 col-sm-9  cleanSelectIcon">-->
                <!--<select class="input-xlarge mobile_select form-control form"-->
                        <!--:duplex="@order_to_premiul_trial_form_widget.form[0].sex.value">-->
                    <!--<option :for='(index,item) in @order_to_premiul_trial_form_widget.form[0].sex.candidateArray'-->
                            <!--:attr="{value:@item.key}">-->
                        <!--{{@item.value}}-->
                    <!--</option>-->
                <!--</select>-->

            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-xs-12  div_line"></div>-->
        <!--&lt;!&ndash;保险期间&ndash;&gt;-->
        <!--<div class="col-xs-12 col-sm-12 center-right-list">-->
            <!--<div class="col-xs-4 col-sm-3 list-left">保险期限:</div>-->
            <!--<div class="col-xs-8 col-sm-9 list-right1">-->
                <!--<span>终身</span>-->
            <!--</div>-->

           <!---->
        <!--</div>-->
        <!--<div class="col-xs-12  div_line"></div>-->

        <!--&lt;!&ndash;何时开始领取年金&ndash;&gt;-->
        <!--<div class="col-xs-12 col-sm-12 center-right-list">-->
            <!--<div class="col-xs-4 col-sm-3 list-left">何时开始领取年金:</div>-->
            <!---->
            <!--<div class="col-xs-8 col-sm-9  cleanSelectIcon">-->
                <!--<select class="input-xlarge mobile_select form-control form"-->
                        <!--:duplex="@order_to_premiul_trial_form_widget.form[0].getYear.value">-->
                    <!--<option :for='($index,item) in @order_to_premiul_trial_form_widget.form[0].getYear.candidateArray'-->
                            <!--:attr="{value:item.key}">-->
                        <!--<span>{{item.name| nullFilter}}</span>-->
                    <!--</option>-->
                <!--</select>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-xs-12  div_line"></div>-->
        <!--<div class="col-xs-12 col-sm-12 center-right-list">-->
            <!--<div class="col-xs-4 col-sm-3 list-left" for="exampleInputPassword1">期望每年领取多少:</div>-->
            <!--<div class="col-xs-8 col-sm-9 cleanColPadding" style="padding-left: 0;padding-right: 0;text-align: right">-->
                <!--&lt;!&ndash;保险金额&ndash;&gt;-->
                <!--<input type="tel" class="form-control background_white withToInput form_blur" id="exampleInputPassword1"-->
                       <!--placeholder="请输入" maxlength="3" :duplex="@order_to_premiul_trial_form_widget.form[0].amnt.value">-->
                <!--<span style="margin-left: 8px">元</span>-->
                <!--<span class="homeLogin" onclick="" :click="@clickEliminate"></span>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-xs-12  div_line"></div>-->
        <!--&lt;!&ndash;交费方式&ndash;&gt;-->
        <!--<div class="col-xs-12 col-sm-12 center-right-list">-->
            <!--<div class="col-xs-4 col-sm-3 list-left">交费方式:</div>-->
            <!--<div class="col-xs-8 col-sm-9  cleanSelectIcon">-->
                <!--<select class="input-xlarge mobile_select form-control form"-->
                        <!--:duplex="@order_to_premiul_trial_form_widget.form[0].payIntv.value">-->
                    <!--<option :for='($index,item) in @order_to_premiul_trial_form_widget.form[0].payIntv.candidateArray'-->
                            <!--:attr="{value:item.key}">-->
                        <!--<span>{{item.value| nullFilter}}</span>-->
                    <!--</option>-->
                <!--</select>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-xs-12  div_line"></div>-->
         <!--&lt;!&ndash;交费期间 / 交费年限&ndash;&gt;-->
        <!--<div class="col-xs-12 col-sm-12 center-right-list">-->
            <!--<div class="col-xs-4 col-sm-3 list-left">交费年限:</div>-->
            <!---->
            <!--<div class="col-xs-8 col-sm-9  cleanSelectIcon">-->
                <!--<select class="input-xlarge mobile_select form-control form"-->
                        <!--:duplex="@order_to_premiul_trial_form_widget.form[0].payEndYear.value">-->
                    <!--<option :for='($index,item) in @order_to_premiul_trial_form_widget.form[0].payEndYear.candidateArray'-->
                            <!--:attr="{value:item.key}">-->
                        <!--<span>{{item.name| nullFilter}}</span>-->
                    <!--</option>-->
                <!--</select>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-xs-12  div_line"></div>-->

        <!--<div style="clear: both"></div>-->



    <!--</div>-->

</div>
